{% if form.errors %}
    <p>Your username of password was incorrect. Please check and try again. </p>

{% endif %}

{% if next %}
    {% if user.is_authenticated %}
        <p>You don't have permission for this page you tried to access</p>

    {% else %}
        <p>Please log in to see this page</p>
    {% endif %}
{% endif %}
<div class="container">
<form class="form-group" method="POST" action="{% url 'login' %}">
    {% csrf_token %}
    {{form.username.label_tag}}
     {{form.username}}
     
     {{form.password.label_tag}}
     {{form.password}}
     <input class="form-control" type="submit" value="login">
     <input class="form-control" type="hidden" name="next" value="{{next}}">


</form>
</div>